.filter {
  background-color: #77787a;

  form {
    @include flex;
    padding-top: 12px;
    padding-bottom: 12px;

    .input-group.search {
      width: 100%;
      max-width: 803px;

      input {
        width: 100%;
      }
    }

    .input-group.date {
      position: relative;

      &:after {
        content: '\e90a';
        font-family: 'icomoon' !important;
        position: absolute;
        color: #929497;
        font-size: 32px;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
