// Gotham Bold font
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham/Gotham-Bold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/gotham/Gotham-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/gotham/Gotham-Bold.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

// Gotham Book font
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham/Gotham-Book.otf") format("opentype"), /* Open Type Font */
  url("../fonts/gotham/Gotham-Book.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/gotham/Gotham-Book.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

// Gotham Medium font
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/gotham/Gotham-Medium.otf") format("opentype"), /* Open Type Font */
  url("../fonts/gotham/Gotham-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/gotham/Gotham-Medium.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


// icommon fonts

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?fliblu');
  src:  url('../fonts/icomoon/icomoon.eot?fliblu#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?fliblu') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?fliblu') format('woff'),
  url('../fonts/icomoon/icomoon.svg?fliblu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-solid:before {
  content: "\e90b";
}
.icon-google:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e900";
}
.icon-thumbs-up:before {
  content: "\e900";
}
.icon-approve:before {
  content: "\e900";
}
.icon-eye:before {
  content: "\e902";
}
.icon-views:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-brand2:before {
  content: "\e904";
}
.icon-social2:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-brand1:before {
  content: "\e905";
}
.icon-social1:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-brand:before {
  content: "\e906";
}
.icon-tweet:before {
  content: "\e906";
}
.icon-social:before {
  content: "\e906";
}
.icon-if_chat_126589:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}