header {
  padding: 58px 0;
  background-color: $color-primary-dark;
  color: #ffffff;

  nav {

    .logo {
      max-width: 264px;
      display: block;
      @include transition;

      img {
        width: 100%;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .nav-link li{
      padding-right: 21px;

      a {
        @include transition;
        font-size: 24px;
        font-family: $font-bold;
        text-transform: uppercase;

        &:hover {
          color: $color-secondary;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}






