$font-primary: 'Gotham Medium', sans-serif;
$font-secondary: 'Gotham Book', sans-serif;
$font-bold: 'Gotham Bold', sans-serif;
$font-size-sm: 14px;
$font-size-md: 32px;
$font-size-lg: 40px;
$color-primary: #666666;
$color-primary-dark: #333333;
$color-secondary: #3ba2d4;
$btn-width-sm: 150px;
$btn-height-sm: 55px;