$font-primary: 'Gotham Medium', sans-serif;
$font-secondary: 'Gotham Book', sans-serif;
$font-bold: 'Gotham Bold', sans-serif;
//$font-size-xs: 16px;


$font-size-sm: 19px;
$font-size-md: 21px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$color-primary: #666666;
$color-primary-dark: #333333;
$color-secondary: #3ba2d4;
$input-sm: 118px;
$btn-sm: 236px;
