@media (max-width: 1024px) {

  .slider {

    .owl-carousel.owl-drag {

      .owl-item {
        height: 400px;

        .single {

          .description {

            .title {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {

  .slider {

    .owl-carousel.owl-drag {

      .owl-item {
        height: 350px;

        .single {

          .description {

            .title {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 480px) {
  
  .slider {

    .owl-carousel.owl-drag {

      .owl-item {
        height: 250px;

        .single {

          .description {
            top: 35px;

            .title {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
