@media (max-width: 1024px) {

  .filter {

    form {
      @include flex-wrap;

      .input-group.search {
        max-width: none;
      }

      .input-group.date {
        width: 50%;
        margin-top: 15px;
        padding-right: 11px;

        &:after {
          right: 24px;
        }
      }

      .input-group.btn {
        margin: 15px auto 0;

      }
    }
  }
}

@media (max-width: 480px) {

  .filter {

    form {

      .input-group {
          input,button {
            font-size: 16px;
            padding: 10px;
          }
      }


      .input-group.date {

        &:last-child {
          padding-right: 0;
        }

        &:after {
          right: 24px;
          font-size: 26px;
        }
      }
    }
  }
}