@media (max-width: 1200px) {

  footer {

    .widgets {

      .widget {
        width: 33.3%;
      }
    }
  }
}

@media (max-width: 620px) {

  footer {

    .soc-icons {
      @include content-center;
    }

    .widgets {
      @include direction-column;
      @include align-center;
      text-align: center;
      padding-top: 40px;

      .widget {
        width: 100%;
        padding-right: 0;

        .logo {
          margin-right: auto;
          margin-left: auto;
        }

        ul li {
          padding-top: 6px;
          padding-bottom: 6px;

          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}