@media (max-width: 1200px) {

  footer {

    .widgets {
      @include space-between;

      .widget {
        width: 33.3%;
      }
    }
  }
}

@media (max-width: 780px) {

  footer {

    .widgets {

      .widget {

        ul li {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 620px) {

  footer {

    .soc-icons {
      @include content-center;
    }

    .widgets {
      @include direction-column;
      @include align-center;
      text-align: center;

      .widget {
        margin-right: 0;

      }
    }
  }
}