@media (max-width: 992px) {

  header {
    padding: 45px 0;
    nav {

      .logo {
        max-width: 160px;
      }

      .nav-link li {

        a {
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    padding: 35px 0;

    nav {
      @include direction-column;

      .nav-link {
        margin-top: 15px;

        li a {
          font-size: 18px;
        }
      }
    }
  }
}