@media (max-width: 992px) {

  header {

    .top {

      .logo {
        max-width: 150px;
      }
    }
  }
}

@media (max-width: 768px) {
  header {

    .top {
      min-height: inherit;
      padding-top: 30px;
      padding-bottom: 30px;

      .logo {
        max-width: 120px;
      }

      ul li {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 480px) {
  header {

    .top {

      .top-elements {
        @include direction-column;
        @include content-center;

        ul {
          margin-left: 0;
          margin-top: 15px;

          li {
            font-size: 14px;
          }
        }
      }
    }
  }
}