@media (max-width: 1200px) {

  .portfolio {
    margin-top: 50px;

    .portfolio-list {

      .item {
        width: calc(33.3% - 5px);
        margin-bottom: 50px;

        .article-title {

          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {

  .portfolio {

    .title {
      font-size: 24px;
    }

    .portfolio-list {

      .item {
        max-width: none;
        width: calc(50% - 5px);

        .photo {
          height: 170px;
        }
      }
    }
  }
}

@media (max-width: 650px) {

  .portfolio {

    .portfolio-list {

      .item {

        .photo {

          .portfolio-hover-content {
            height: 100%;

            .review {
              @include direction-column;

              ul {
                &:last-child {
                  margin-left: 0;
                  margin-top: 15px;
                }
              }
            }

            .description {
              @include direction-column;

              .subscribe {
                margin-left: 0;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {

  .portfolio {

    .title {
      font-size: 20px;
    }

    .portfolio-list {

      .item {
        width: 100%;
        max-width: none;

        .photo {

          .portfolio-hover-content {
            padding-top: 20px;
          }
        }

        .article-title {

          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
}