@media (max-width: 1230px) {

  .portfolio {

    .figures {

      .figure {
        width: 33.3%;
        padding-bottom: 30px;

        &:nth-child(n) {
          padding-right: 15px;
          padding-left: 15px;
        }

        &:nth-child(3n) {
          padding-right: 0;
        }

        &:nth-child(3n + 1) {
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .portfolio {

    .figures {

      .figure {
        width: 50%;

        &:nth-child(n) {
          padding-right: 7px;
          padding-left: 7px;
        }

        &:nth-child(even) {
          padding-right: 0;
        }

        &:nth-child(odd) {
          padding-left: 0;
        }

        .figure-caption {

          h4 {
            font-size: 19px;
          }

          h5 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .portfolio {

    .figures {

      .figure {
        width: 100%;

        &:nth-child(n) {
          padding-right: 0;
          padding-left: 0;
        }

        .photo {
          height: 250px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .portfolio {

    .figures {

      .figure {

        .photo {
          height: 200px;

          .portfolio-hover-content {

            .review {
              @include direction-column;

              ul {

                &:first-child {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}